{% extends 'main/layout.html' %}

{% block title %}Просмотр записей{% endblock %}

{% block content %}
    <div class="features">
        {% for r in reservations %}
            <div class="alert alert-warning">
                <p>ФИО: {{ r.username }}</p>
                <p>Номер телефона: {{ r.phone_number }}</p>
                <p>Почта: {{ r.email }}</p>
                <p>Количество человек: {{ r.count }}</p>
                <p>Дата: {{ r.date }}</p>
            </div>
        {% endfor %}
        <a href="{% url 'home' %}"><button class="btn btn-warning">На главную</button></a>
    </div>
{% endblock %}